<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My project</title>
</head>
<body>
<h3>List of title</h3>
<table class="container centre">
    <tr>

    <th>Name</th>
    <th>Author</th>
    </tr>



<tr th:each="book: ${books}">
    <td th:text="${book.name}" />
    <td th:text="${book.author}" />
</tr>
</table>

<h1>Form</h1>
<div class="container centre">
<form action="#" th:action="@{/}" th:object="${newbook}" method="post">
    <p>Author: <input type="text" th:field="*{author}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="SCreate new book" /> <input type="reset" value="Reset" /></p>
</form>
</div>


</body>
</html>